<!DOCTYPE HTML>
<html>
<head>
  <title>pictogroup</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <link rel="stylesheet" href="./templates/public.css" />
</head>

<body>
    <div class="header">
        <h1>GUESS WHAT</h1>
    </div>
    <div id="current-rooms" class="lobby">
        <h3>Current Rooms</h3>
        <ul></ul>
    </div>
    <div id="roomName" class="hidden">
	</div>
    <div id="current-players" class="room">
        <h3>Current Players</h3>
        <ul></ul>
    </div>
	<form class="lobby" id="room">
		<p>
			<input type="text" id="formText" placeholder="enter a room">
		</p>
		<input id="roomSubmit" type="submit" value="create room">
	</form>
    <p class="pre-game">Waiting for another player</p>
    <input id="start-game" class="room" type="button" value="start game" />
    <input id="start-drawing" class="now-playing" type="button" value="start drawing" />
    <input id="clear-drawing" class="now-playing" type="button" value="clear drawing" />
    <select class="now-playing">
        <option value="black">black</option>
        <option value="purple">purple</option>
        <option value="blue">blue</option>
        <option value="yellow">yellow</option>
        <option value="green">green</option>
        <option value="red">red</option>
    </select>
    <div id="canvas-wrap" class="now-playing">
        <canvas width="500" height="500" id="canvas"></canvas>
    </div>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="../client.js"> </script>
</body>
</html>
