/* CSS declarations go here */

.hidden {
	display: none;
}
#canvas-wrap {
    position: relative;
}

#canvas {
    border: green 1px solid;
}

.room {
    display: none;
}

.now-playing {
    display: none;
}
